.menu-panel {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 0 1px rgba(0,0,0,0.25);
    transition: background-color 0.3s ease-in-out;
    padding: 5px 60px;
    z-index: 100;
}

.body {
    background-color: lightslategray;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    background-image: url('../img/header.jpg');
    height: 500px;
    width: 100%;
}

.header-text {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding: 125px 15% 0 7%;
    float: right;
}

.skeleton {
    width: 1280px;
    margin: 0 auto;
    min-height: 300px;
    padding-bottom: 25px;
}

.color-wrapper {
    background-color: #bcb5af;
    background-color: #c8c7c2;
    background-color: #c5c0ba;
}

.wrapper {
    background-color: #ffffff;
}

.eye-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.about-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.title {
    padding: 5px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.desc {
    text-align: justify;
}

.icon {
    width: 40px;
    height: 40px;
}

.table-row {
    padding-bottom: 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none !important;
}

.section-header {
    padding: 20px;

}

.form {
    width: 300px;
    margin: 0 auto;
}

h1 {
    font-family: "Open Sans script=all rev=1" !important;
    font-weight: 600 !important;
    font-style: normal !important;
}
.carousel-inner img {
    margin: auto;
}

.examples {
    margin: 0 auto;
    width: 70%
}

@media screen and (max-width: 970px)  {
    .skeleton {
        width: 100%;
        padding-bottom: 15px;
    }
    .examples {
        width: 100%;
    }
}